/* ----------------------------------------------------------------------------------------
Template: GYMFIT
 -----------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

MAIN PAGES

1. BODY
2. HEADER
3. SLIDER
4. ABOUT 
5. OUR COURSES
6. TRAINERS
7. SCHEDULE
8. EXPLORE(VIDEO)
9. BLOG
10. NEWSLETTER
11. FOOTER

INNER PAGES
12.ABOUT PAGE
13.OUR COURSES PAGE
14.TRAINERS PAGE
15.BLOG PAGE
19.BLOG DETAILS PAGE
20.CONTACT US PAGE
21.COMING SOON PAGE
22.ERROR PAGE
23.LOADER
-------------------------------------------------------------------*/

/* 
---------------------------------------------
body
--------------------------------------------- 
*/
* {
	outline: none;
	-webkit-box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
/* 
---------------------------------------------
navigation bar
--------------------------------------------- 
*/

header {
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 999;
	padding-top: 20px;
}
header.shrink {
	width: 100%;
	padding: 5px 0;
	background: #2a5f50;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	z-index: 9999;
	top: 0;
	position: fixed;
}
.bg-light {
	background-color: transparent !important;
	padding-top: 10px;
	padding: 0;
	margin: 0;
}
.navbar-light .navbar-nav .nav-link {
	color: #ffffff;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: #ffffff;
}
a.nav-btn {
	width: 170px;
	background-color: transparent;
	border-radius: 25px;
	padding: 11px 30px;
	border-top: 1px solid #9258f9;
	border-left: 1px solid #c253db;
	border-bottom: 1px solid #dc58c0;
	border-right: 1px solid #e8799b;
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	outline: none;
	transition: all ease 0.5s 0s;
}
li.btn-nav {
	margin: 7px 0 0 0;
}
a.nav-btn:hover {
	background-image: linear-gradient(to right, #9258f9, #c253db, #dc58c0, #e767aa, #e8799b);
	box-shadow: 0 0 15px rgba(0 , 0, 0, 0.5);
	border: 1px solid transparent;
	transition: all ease 0.5s 0s;
}
li.nav-item {
	padding: 0 12px;
}
li.nav-item a {
	color: #ffffff;
	text-decoration: none;
}
.navbar-light .navbar-nav .nav-link:active, .navbar-light .navbar-nav .nav-link:hover {
	color: #ffffff;
}
.navbar-light .navbar-nav .nav-link:focus {
	color: rgba(255, 255, 255);
}
.collapse.show {
	display: block;
	background-color: #1f1815;
	padding: 0;
}
.navbar-toggler.collapsed .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}
.navbar-toggler .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 10% 10%;
	-ms-transform-origin: 10% 10%;
	transform-origin: 10% 10%;
}
.navbar-toggler .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 20% 10%;
	-ms-transform-origin: 20% 10%;
	transform-origin: 20% 10%;
}
.navbar-toggler .icon-bar {
	width: 31px;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.navbar-toggler .icon-bar {
	display: block;
	width: 32px;
	height: 3px;
	border-radius: 1px;
}
.navbar-toggler .icon-bar {
	background-color: #ffffff;
}
.navbar-toggler.collapsed .icon-bar:nth-of-type(2) {
	opacity: 1;
	filter: alpha(opacity=100);
}
.navbar-toggler .icon-bar:nth-of-type(2) {
	opacity: 0;
	filter: alpha(opacity=0);
}
.navbar-toggler.collapsed .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}
.navbar-toggler .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 10% 90%;
	-ms-transform-origin: 10% 90%;
	transform-origin: 10% 90%;
}
.inner-page .navbar-toggler .icon-bar {
	background-color: #000000;
}
.inner-page .collapse.show {
	display: block;
	background-color: #ffffff;
	padding: 30px 0;
}
.navbar-light .navbar-toggler {
	color: rgba(0, 0, 0);
	border-color: transparent;
}
li.nav-item.btn:hover {
	background-color: transparent;
	box-shadow: none;
}
.inner-page li.nav-item a {
	color: #2e3438;
}
button:focus {
	outline: transparent;
}
span.icon-bar {
	margin: 5px 0;
}
.navbar-light .navbar-nav .nav-link:after {
	content: '';
	position: absolute;
	left: 20%;
	width: 0%;
	background-image: linear-gradient(to right, #9258f9, #c253db, #dc58c0, #e767aa, #e8799b);
	height: 3px;
	bottom: 4px;
	border: 0;
	margin: 0;
	transition: 0.5s all ease;
}
.navbar-light .navbar-nav .nav-link:hover:after, .navbar-light .navbar-nav .nav-link:active:after {
	width: 65%;
	transition: 0.5s all ease;
}
/* dropdown menu */

.dropdown:hover > .dropdown-menu {
	display: block;
	transition: 0.5s all ease-in;
}
.dropdown > .dropdown-toggle:active {
	/*Without this, clicking will make it sticky*/
	pointer-events: none;
}
li.dropdown.nav-item a {
	color: #1f1815;
	text-decoration: none;
	position: relative;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.5;
	z-index: 2;
	display: inline-block;
}
.dropdown-item.active, .dropdown-item:active {
	color: #fff;
	text-decoration: none;
	background-color: #ffffff;
}
li.dropdown.nav-item a:after {
	content: '';
	position: absolute;
	left: 13%;
	width: 0%;
	background-image: linear-gradient(to right, #9258f9, #c253db, #dc58c0, #e767aa, #e8799b);
	height: 3px;
	bottom: 4px;
	border: 0;
	margin: 0;
	transition: 0.5s all ease;
}
li.dropdown.nav-item a:hover:after, li.dropdown.nav-item a:active:after {
	width: 65%;
	transition: 0.5s all ease;
}
.banner-img-section h1 {
	font-size: 68px;
	text-transform: uppercase;
	font-weight: 700;
	background: -webkit-linear-gradient(#8e56fd, #eb7a98);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.carousel-caption {
	position: absolute;
	right: 0;
	bottom: 35%;
	left: 0%;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #444444;
	text-align: left !important;
}
.slider_img .img-fluid {
	max-width: 150%;
}
.slider_img {
	left: -30%;
	position: relative;
	top: 19%;
}
.carousel-caption h3 {
	font-family: 'Signika', sans-serif;
	font-size: 74px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 3px 4px 15px rgba(79, 209, 106, 0.56); 
}
.carousel-caption p {
	font-size: 20px;
	color: #fff;
	font-family: 'Poppins', sans-serif;
}
.carousel-caption1s {
	position: absolute;
	right: 0;
	bottom: 25%;
	left: 0%;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #444444;
	text-align: left !important;
}
.slider_btn {
	margin-top: 40px;
}
a.sliderbtn {
	background-color: #fff;
	color: #15a025;
	padding: 13px 24px;
	border-radius: 70px;
	transition: all ease 0.5s 0s;
	text-transform: uppercase;
	box-shadow: 3px 4px 15px 0px rgba(79, 209, 106, 0.75);
}
a.sliderbtn:hover {
	text-decoration: none;
	color: #fff;
	background-color: #15a025;
	transition: all ease 0.5s 0s;
}
.title_box h2 {
	font-size: 40px;
	color: #484a4c;
	font-weight: bold;
	font-family: 'Signika', sans-serif;
	text-transform: uppercase;
	text-align: center;
}
.about_us {
	margin-top: 100px;
	margin-bottom: 100px;
}
.title_box {
	text-align: center;
	margin-bottom: 45px;
}
.about_con h3 {
	font-size: 25px;
	color: #585b5d;
	letter-spacing: 0.5px;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
	line-height: 35px;
	margin-bottom: 25px;
}
.about_con p {
	font-size: 14px;
	color: #585b5d;
	font-weight: 400;
	letter-spacing: 0.5px;
	line-height: 25px;
	font-family: 'Poppins', sans-serif;
}
.about_btn {
	margin-top: 40px;
}
.aboutbtn {
	background: rgba(116,215,161,1);
	background: -moz-linear-gradient(left, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(116,215,161,1)), color-stop(100%, rgba(79,208,195,1)));
	background: -webkit-linear-gradient(left, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
	background: -o-linear-gradient(left, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
	background: -ms-linear-gradient(left, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
	background: linear-gradient(to right, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74d7a1', endColorstr='#4fd0c3', GradientType=1 );
	color: #fff;
	padding: 13px 28px;
	border-radius: 70px;
	transition: all ease 0.5s 0s;
	text-transform: uppercase;
	box-shadow: 3px 4px 15px 0px rgba(98, 211, 177, 0.75);
}
.aboutbtn:hover {
	background: #fff;
	text-decoration: none;
	color: #15a025;
	transition: all ease 0.5s 0s;
}
.about_img img {
	display: block;
	height: 309px;
	border-radius: 5px;
	box-shadow: 3px 4px 15px 0px rgba(0, 0, 0, 0.25);
}
.about_img {
	width: 48%;
	float: left;
	height: 100%;
	padding-top: 0px;
}
.about_img_1 {
	display: block;
	width: 48%;
	float: left;
	height: 100%;
	padding-top: 29px;
	position:relative;
	margin-left: 15px;
	/* margin-bottom: 32px; */
}
.about_img_1 img {
	display: block;
	border-radius: 5px;
	box-shadow: 3px 4px 15px 0px rgba(0, 0, 0, 0.25);
	height: 100%;
}
.overlay {
	position: absolute;
	display: block;
	top: 0;
	background: rgba(156,212,59,1);
	background: -moz-linear-gradient(left, rgba(156,212,59,0.9) 0%, rgba(54,168,121,0.9) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(156,212,59,0.9)), color-stop(100%, rgba(54,168,121,0.9)));
	background: -webkit-linear-gradient(left, rgba(156,212,59,0.9) 0%, rgba(54,168,121,0.9) 100%);
	background: -o-linear-gradient(left, rgba(156,212,59,0.9) 0%, rgba(54,168,121,0.9) 100%);
	background: -ms-linear-gradient(left, rgba(156,212,59,0.9) 0%, rgba(54,168,121,0.9) 100%);
	background: linear-gradient(to right, rgba(156,212,59,0.9) 0%, rgba(54,168,121,0.9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cd43b', endColorstr='#36a879', GradientType=1 );
	margin-top: 30px;
	width: 100%;
	height: 92.2%;
	padding: 30px;
	border-radius:5px;
}
.overlay .headline {
	margin-bottom: 10px;
	margin-top: 20px;
}
.overlay .description {
	display: block;
	margin-bottom: 20px;
}
.headline {
	font-family: 'Signika', sans-serif;
	font-size: 43px;
	color: #fff;
	font-weight: bold;
}
.description {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #fff;
	letter-spacing: 0.5px;
	line-height: 25px;
}
.yoga_bg{
	background-image: url(../img/yoga_bg.jpg);
	background-repeat:no-repeat;
	padding-top:100px;
	padding-bottom:20px;
	background-size:cover;
}
.yoga_bg .title_box h2{
	color:#fff;
}
.first_col {
    width: 32%;
    float: left;
}
.yoga_con{
	text-align:right;
}
.yoga_con h3{
	font-size:20px;
	color:#fff;
	font-weight:500;
	font-family: 'Poppins', sans-serif;
	text-transform:uppercase;
}
.yoga_con p{
	font-size:14px;
	color:#fff;
	line-height:25px;
	margin-bottom:0px;
	font-family: 'Poppins', sans-serif;
}
.yoga_con {
    text-align: right;
    width: 70%;
    float: left;
    margin-right: 15px;
}
.yoga_img {
    float: left;
    width: 25%;
}
.yoga_img .icon_box {
    box-shadow: 3px 4px 15px 0px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
	-webkit-border-radius:50%;
  -moz-border-radius:50%;
  -o-border-radius:50%;
  transition: all 800ms ease-in-out;
}
.yoga_box:hover .yoga_img .icon_box{
	-ms-transform: rotate(360deg); /* IE 9 */
  -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
  transform: rotate(360deg);
}
.yoga_box {
    margin-bottom: 40px;
    display: inline-block;
}
.first_col3 {
    width: 32%;
    float: left;
}
.first_col3 .yoga_con{
	text-align:left;
}
.first_col2 {
    width: 36%;
    float: left;
}
.yoga_img_box .img-fluid {
    max-width: 100%;
    /* margin-left: 25px; */
    height: 290px;
    max-height: 100%;
    display: block;
    margin-left: 17px;
}	
.choose_class {
    margin-top: 50px;
    margin-bottom: 70px;
    /* min-height: 1020px; */
}
.gallery-title{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;
}
.filter-button:hover {
    font-size: 18px;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    color: #ffffff !important;
    background: rgba(156,212,59,1);
    background: -moz-linear-gradient(left, rgba(156,212,59,1) 0%, rgba(79,208,195,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(156,212,59,1)), color-stop(100%, rgba(79,208,195,1)));
    background: -webkit-linear-gradient(left, rgba(156,212,59,1) 0%, rgba(79,208,195,1) 100%);
    background: -o-linear-gradient(left, rgba(156,212,59,1) 0%, rgba(79,208,195,1) 100%);
    background: -ms-linear-gradient(left, rgba(156,212,59,1) 0%, rgba(79,208,195,1) 100%);
    background: linear-gradient(to right, rgba(156,212,59,1) 0%, rgba(79,208,195,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cd43b', endColorstr='#4fd0c3', GradientType=1 );
    border: 1px solid transparent !important;
	box-shadow: 3px 4px 15px 0px rgba(115, 210, 132, 0.75); 
}
.btn-default:active .filter-button:active{
    background-color: #42B32F;
    color: white;
}
.link_box {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}
.port-image{
    width: 100%;
}
.gallery_product{
    margin-bottom: 30px;
}
button.btn.btn-default.filter-button {
    font-size: 14px;
    color: #57626b;
    letter-spacing: 0.5px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    border: 1px solid #57626b;
    border-radius: 60px;
    padding: 3px 20px;
    font-weight: 500;
	margin:5px;
}
.portfolio_box{
	box-shadow: 3px 4px 20px 0px rgba(0, 0, 0, 0.21);
	background-color:#fff;
	border-radius:5px;
	display:inline-block;
}
i.fa.fa-plus {
    background: rgba(156,212,59,1);
    background: -moz-linear-gradient(left, rgba(156,212,59,1) 0%, rgba(79,208,195,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(156,212,59,1)), color-stop(100%, rgba(79,208,195,1)));
    background: -webkit-linear-gradient(left, rgba(156,212,59,1) 0%, rgba(79,208,195,1) 100%);
    background: -o-linear-gradient(left, rgba(156,212,59,1) 0%, rgba(79,208,195,1) 100%);
    background: -ms-linear-gradient(left, rgba(156,212,59,1) 0%, rgba(79,208,195,1) 100%);
    background: linear-gradient(to right, rgba(156,212,59,1) 0%, rgba(79,208,195,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cd43b', endColorstr='#4fd0c3', GradientType=1 );
    width: 60px;
    height: 60px;
    text-align: center;
    color: #ffff;
    border-radius: 60px;
    line-height: 63px;
}
.add_sign {
    float: right;
    margin-right: 20px;
    margin-top: -30px;
    z-index: 99;
    position: relative;
	-webkit-border-radius:50%;
  -moz-border-radius:50%;
  -o-border-radius:50%;
  transition: all 800ms ease-in-out;
}
.gallery_product:hover .add_sign{
  -ms-transform: rotate(360deg); /* IE 9 */
  -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
  transform: rotate(360deg);
}
.gallery_product:hover .portfolio_con h3{
	color:#6ec061;
	transition:all ease 0.5s 0s;
}
.portfolio_con h4{
	font-size:14px;
	color:#838e97;
	text-transform:uppercase;
	letter-spacing:0.5px;
}
.portfolio_con.space {
    padding: 30px 30px 10px 30px;
}
.portfolio_con h3{
	font-size:22px;
	color:#484a4c;
	font-weight:600;
	margin-top:15px;
	transition:all ease 0.5s 0s;
	font-family: 'Poppins', sans-serif;
}
.date_con{
	padding: 0px 30px 0px 30px;
}
.date_box i{
	color:#6ec061;
	font-size:18px;
}
.date_box p{
	font-size:14px;
	color:#9da2a8;
	font-weight:400;
	font-family: 'Poppins', sans-serif;
}
.date_box {
    float: left;
    margin-right: 17px;
}
.time_box p{
	font-size:14px;
	color:#9da2a8;
	font-weight:400;
	font-family: 'Poppins', sans-serif;
}
.time_box i{
	color:#6ec061;
	font-size:18px;
}
.portfolio_img img {
    border-radius: 5px 5px 0px 0px;
}
.testimonials{
	background-image:url(../img/testimonials_bg.jpg);
	background-repeat:no-repeat;
	padding-top:100px;
	padding-bottom:100px;
	background-size:cover;
}
#testimonial .section-heading {
    margin-bottom: 11px;
}
#testimonial.section-padding {
    padding: 90px 0px 157px;
}
#testimonial .area-title {
    margin-bottom: 13px;
}
#testimonial .s-top-p {
    padding-bottom: 18px;
}
#testimonial .test-content {
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
#testimonial {
    padding: 90px 0 90px 0;
}
#testimonial .star-icon>i {
    font-size: 18px;
    color: #9c27b0;
}
#testimonial .client-description {
    text-align: center;
}
#testimonial .client-description>p {
    margin-bottom: 15px;
    font-size: 15px;
    color: #fff;
	letter-spacing:0.5px;
	line-height:30px;
    display: inline-block;
}
#testimonial .client-name>h5 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5px;
}
#testimonial .client-name>h6 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.5px;
    margin-top: 15px;
}
#testimonial .client-name>p {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
}
#testimonial .slick-slide.client-thumbnail {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 129px;
}
#testimonial .slider{
    margin-bottom: 0px;
    margin-top: 0px;
}
#testimonial .slick-slide img {
    display: block;
    width: 88px !important;
    height: 88px !important;
    border-radius: 50%;
    opacity: .5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
#testimonial .slick-slide:focus,
#testimonial .slick-slide img {
    outline: 0px;
}
#testimonial .slick-slide.slick-current img {
    opacity: 1 !important;
    transform: scale(1.25);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
#testimonial .slick-arrow .fa-angle-right {
    left: auto;
    right: 0;
    top: 0;
}
#testimonial .slick-arrow i {
    position: inherit;
    z-index: 99;
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin-left: -1px;
}
#testimonial .slick-arrow i:hover {
    color: rgba(255, 255, 255, 1);
}
#testimonial .slick-arrow:first-child {
    position: absolute;
    left: -20%;
    bottom: 60%;
}
#testimonial .slick-arrow:last-child {
    position: absolute;
    right: -20%;
    bottom: 60%;
}
#testimonial .slick-arrow:last-child i {
    padding-left: 0px;
}
#testimonial .slick-arrow {
    width: 45px;
    height: 45px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
#testimonial .slick-arrow:hover {
   background-color:rgba(255, 255, 255, 0.3);
}

.client-name.text-center {
    margin-top: 10px;
}
#testimonial .testimonials-content p {
    font-size: 14px;
    font-weight: 400;
    display: block;
    width: 100%;
    text-align: center;
    margin: 15px auto;
	font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, 0.8);
	letter-spacing:0.5px;
	line-height:25px;
	margin-bottom:0px;
}
.instructors{
	margin-top:70px;
	margin-bottom:70px;
}
.team-img {
    position: relative;
    height: 232px;
    background-size: cover;
    background-position: center;
    transition: 0.5s ease-in-out;
    box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius:5px;
}
.team-img img.img-fluid {
    border-radius: 5px;
    height: 100%;
}
.team-bottom-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 67px;
    transition: .5s all ease;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    display:block;
}
.bottom-team-border {
    background-color: #fff;
    border-radius: 0 0px 5px 5px;
    padding: 7px 0;
    transition: 0.5s all ease;
}
.bottom-team-border h2 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    line-height: 1.45;
    color: #484a4c;
    margin-bottom: 35px;
    text-align: center;
    margin-bottom: 17px;
    font-family: 'Poppins', sans-serif;
    margin-top: 19px;
    padding-top: -16px;
}
.bottom-team-border p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    color: #838e97;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}	
.bottom-team-border h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #585b5d;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    padding: 0px 10px;
}
.item1:hover .team-bottom-box {
    height: 215px;
    opacity: 1;
}
.item1:hover .bottom-team-border {
    background-color: #fff;
    transition: 0.5s all ease;
}
.social_icon ul{
	text-align:center;
}
.social_icon ul li{
	display:inline-block;
}
.social_icon ul {
    background: rgba(156,212,59,1);
    background: -moz-linear-gradient(left, rgba(156,212,59,1) 0%, rgba(79,208,195,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(156,212,59,1)), color-stop(100%, rgba(79,208,195,1)));
    background: -webkit-linear-gradient(left, rgba(156,212,59,1) 0%, rgba(79,208,195,1) 100%);
    background: -o-linear-gradient(left, rgba(156,212,59,1) 0%, rgba(79,208,195,1) 100%);
    background: -ms-linear-gradient(left, rgba(156,212,59,1) 0%, rgba(79,208,195,1) 100%);
    background: linear-gradient(to right, rgba(156,212,59,1) 0%, rgba(79,208,195,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cd43b', endColorstr='#4fd0c3', GradientType=1 );
    width: 40%;
	border-radius:50px;
    margin: auto;
    padding: 3px;
}
.social_icon ul li a{
	color:#fff;
	transition:all ease 0.5s 0s;
} 
.social_icon ul li {
    display: inline-block;
    padding: 0px 5px;
}
.social_icon ul li a:hover{
	opacity:0.5;
	transition:all ease 0.5s 0s;
}
.social_icon {
    position: relative;
    width: 100%;
    top: 15px;
}
#carousel .item {
    padding: 0px 10px 40px 10px;
}
.item1:hover{
	cursor:pointer;	
}
#carousel .owl-dots{
	margin-top:0px;
}
.pricing{
	background-image: url(../img/price_bg.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	padding-top:90px;
	padding-bottom:90px;
}
.pricing .title_box h2 {
    color: #fff;
}
.price_box{
	background-image: url(../img/price_bg1.jpg);
	background-repeat:no-repeat;
	border-radius:5px;
	padding-top:35px;
	margin-top:10px;
	padding-bottom:35px;
	transition:all ease 0.5s 0s;
	box-shadow: 3px 4px 20px 0px rgba(0, 0, 0, 0.2); 
}
.price_box:hover{
	margin-top:5px;
	transition:all ease 0.5s 0s;
}
.price_box h3{
	font-size:22px;
	color:#484a4c;
	font-family: 'Poppins', sans-serif;
	text-transform:uppercase;
	font-weight:600;
	text-align:center;
}
.pricing_img {
    margin-top: 20px;
    text-align: center;
}
.price_box ul {
    padding: 0;
    text-align: center;
    margin-top: 20px;
}
.price_box ul li{
	list-style:none;
	font-size:16px;
	color:#585b5d;
	letter-spacing: 0.5px;
	line-height:30px;
	font-family: 'Poppins', sans-serif;
}
.price_border {
    border-bottom: 1px solid #d8d9da;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.price h2{
	font-size:40px;
	color:#585b5d;
	font-weight:bold;
	font-family: 'Poppins', sans-serif;
	text-align:center;
}
.price p{
	font-size:15px;
	color:#acaeaf;
	text-align:center;
	text-transform:uppercase;
	letter-spacing:0.5px;
	font-family: 'Poppins', sans-serif;
}
.started_btn {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    background: rgba(116,215,161,1);
    background: -moz-linear-gradient(left, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(116,215,161,1)), color-stop(100%, rgba(79,208,195,1)));
    background: -webkit-linear-gradient(left, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
    background: -o-linear-gradient(left, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
    background: -ms-linear-gradient(left, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
    background: linear-gradient(to right, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74d7a1', endColorstr='#4fd0c3', GradientType=1 );
    padding: 14px 30px;
    border-radius: 60px;
	box-shadow: 3px 4px 15px 0px rgba(98, 211, 177, 0.69); 
	transition:all ease 0.5s 0s;
}
.started_btn:hover{
	background:#fff;
	color:#15a025;
	text-decoration:none;
	transition:all ease 0.5s 0s;
}
.price_btn {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.blog{
	margin-top:80px;
	margin-bottom:50px;
}
.blog_box{
	box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.1); 
	background-color:#fff;
	border-radius:5px;
}
.blog_con{
	padding:20px;
}
.blog_con h3{
	font-size:20px;
	color:#484a4c;
	font-weight:600;
	text-align:center;
	font-family: 'Poppins', sans-serif;
}
.blog_con p{
	font-size:14px;
	color:#585b5d;
	line-height:25px;
	letter-spacing:0.5px; 
	font-family: 'Poppins', sans-serif;
	text-align:center;
	margin-top:15px;	
}
.blog_btn{
	font-size:14px;
	color:#36a878;
	letter-spacing:0.5px;
	text-transform:uppercase;
	text-align:center;
	transition:all ease 0.5s 0s;
	font-family: 'Poppins', sans-serif;
}
i.fa.fa-angle-right {
    font-size: 18px;
    margin-left: 5px;
	transition:all ease 0.5s 0s;
}
.blog_btn:hover{
	color:#36a878;
	text-decoration:none;
}
.blog_btn:hover i.fa.fa-angle-right{
	margin-left:10px;
}
.read_more_blog {
    text-align: center;
}
#blog_slider .item {
    padding: 0px 10px 40px 10px;
}

.date_box_blog p {
    height: 78px;
    width: 78px;
    knob background: rgba(79,208,195,1);
    background: -moz-linear-gradient(top, rgba(79,208,195,1) 0%, rgba(156,212,59,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(79,208,195,1)), color-stop(100%, rgba(156,212,59,1)));
    background: -webkit-linear-gradient(top, rgba(79,208,195,1) 0%, rgba(156,212,59,1) 100%);
    background: -o-linear-gradient(top, rgba(79,208,195,1) 0%, rgba(156,212,59,1) 100%);
    background: -ms-linear-gradient(top, rgba(79,208,195,1) 0%, rgba(156,212,59,1) 100%);
    background: linear-gradient(to bottom, rgba(79,208,195,1) 0%, rgba(156,212,59,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fd0c3', endColorstr='#9cd43b', GradientType=0 );
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    line-height: 24px;
    padding-top: 13px;
	margin:auto;
}
.date_box_blog p span{
	font-weight:400;
}
.date_box_blog {
    margin-top: -100px;
    z-index: 9999999;
    position: relative;
}
.zoom-effect-container {
    position: relative;
    width: 100%;
    height: 290px;
    margin: 0 auto;
    overflow: hidden;
}
.image-card {
  position: absolute;
  top: 0;
  left: 0;
  overflow:hidden;
}
.image-card img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.blog_box:hover .image-card img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}
.blog_box img {
    border-radius: 5px 5px 0px 0px;
}
footer{
	background-image:url(../img/footer_bg.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	padding-top:70px;
	padding-bottom:63px;
}
.footer_social ul{
    padding:0;
    /* text-align: center; */
    /* left: -36%; */
    float: none;
    padding-left: 0px;
    padding-right: 35px;
}
.footer_social ul li{
	display:inline-block;
	color:#fff;
}
.footer_social ul li a{
	color:#fff;
}
.footer_social ul li {
    display: inline-block;
    color: #fff;
    height: 29px;
    width: 29px;
    text-align: center;
    border-radius: 50px;
    line-height: 29px;
    font-size: 14px;
}
.footer_social ul li:hover{
	transition:all ease 0.5s 0s;
	background: rgba(116,215,161,1);
	background: -moz-linear-gradient(top, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(116,215,161,1)), color-stop(100%, rgba(79,208,195,1)));
	background: -webkit-linear-gradient(top, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
	background: -o-linear-gradient(top, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
	background: -ms-linear-gradient(top, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
	background: linear-gradient(to bottom, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74d7a1', endColorstr='#4fd0c3', GradientType=0 )
}
.footer_social {
    /* margin-top: 30px; */
    text-align: center;
}
.footer_link{
	text-align:center;
}
.footer_link li{
    display: inline-block;
	padding:0px 32px;
}
.footer_link li a{
	font-size:14px;
	color:#fff;
	transition:all ease 0.5s 0s;
	font-family: 'Poppins', sans-serif;
}
.footer_link li a:hover{
	text-decoration:none;
	opacity:0.5;
	transition:all ease 0.5s 0s;	
}
.footer_border {
    border-bottom: 1px solid #95afa8;
    margin-top: 25px;
    margin-bottom: 20px;
}
.footer_link li:first-child {
    padding: 0px 32px 0px 0px;
}
.footer_link li:last-child {
    padding: 0px 0px 0px 32px;
}
.footer_center_con p{
	font-size:13px;
	color:#fff;
	letter-spacing:0.5px;
	font-weight:400;
	line-height:25px;
	text-align:center;
	font-family: 'Poppins', sans-serif;
}
.footer_center_con {
    padding-left: 30px;
    padding-right: 30px;
}
.news_letter_box h3{
	font-size:18px;
	color:#fefefe;
	font-family: 'Poppins', sans-serif;
	font-weight:500;
	text-transform:uppercase;
}
input.card-input {
    width: 100%;
    display: block;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    border-radius: 25px;
    border: none;
    padding: 12px 0;
    padding-left: 15px;
	background-color:rgba(255, 255, 255, 0.5);
	box-shadow: 3px 4px 15px 0px rgba(0, 0, 0, 0.2); 
}
.input-img {
    position: absolute;
    top: 25%;
    background: rgba(116,215,161,1);
	background: -moz-linear-gradient(top, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(116,215,161,1)), color-stop(100%, rgba(79,208,195,1)));
	background: -webkit-linear-gradient(top, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
	background: -o-linear-gradient(top, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
	background: -ms-linear-gradient(top, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
	background: linear-gradient(to bottom, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74d7a1', endColorstr='#4fd0c3', GradientType=0 );
    left: 79%;
    border-radius: 50%;
    height: 46px;
    width: 46px;
    text-align: center;
    line-height: 44px;
}
input.card-input::placeholder{
	color:#fff;
}
.card-box-input {
    margin-top: 20px;
	position:relative;
}
.news_letter_box p {
    font-size: 14px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
    letter-spacing: 0.5px;
}
.footer_bootom{
	background-color:#254d41;
	padding-top:15px;
	padding-bottom:15px;
}
.copy_right p{
	font-size:14px;
	color:#fff;
	text-align:center;
	font-family: 'Poppins', sans-serif;
	letter-spacing:0.5px;
	margin-bottom:0px;
}

/* 
---------------------------------------------
about page
--------------------------------------------- 
*/
.what_we_do{
	padding-top:80px;
	padding-bottom:80px;
}
.video_icon {
    position: absolute;
    top: 0;
    margin: auto;
    left: 43%;
    top: 35%;
}
.counter{
	background-image: url(../img/number_bg.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	padding-top:60px;
	padding-bottom:60px;
}
.about_page_con h2 {
    font-size: 40px;
    color: #585b5d;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-align: right;
    border-right: 5px solid #000;
    padding-right: 15px;
	border-image-source: linear-gradient(#9dd43b, #36a878);
	border-image-slice: 1;
	border-radius:5px;
	margin-bottom:50px;
}
.about_page_con p{font-size: 14px;
    color: #585b5d;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 25px;
	text-align:right;
    font-family: 'Poppins', sans-serif;
}
.about_page_con {
    text-align: right;
}
.main_about{
	margin-top:80px;
	margin-bottom:80px;
}
.inner_page_title h2{
    font-family: 'Signika', sans-serif;
    font-size: 74px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
	text-align:center;
    text-shadow: 3px 4px 15px rgba(96, 96, 96, 0.4); 
}
.carousel-caption1 {
    position: absolute;
    right: 15%;
    bottom: 35%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
.counter-value {
    font-size: 36px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 10px;
}
.couter_con{
	font-size:16px;
	font-family: 'Poppins', sans-serif;
	color:#fff;
}
.box_counter {
    width: 25%;
    float: left;
}
.achievements_box {
    width: 25%;
    float: left;
    text-align: center;
}
.achievements_box p{
	font-size:16px;
	color:#fff;
	font-weight:500;
	letter-spacing:0.5px;
	margin-bottom:0px;
	font-family: 'Poppins', sans-serif;
}
.instructors .item{
	margin-bottom:30px;
}
.classes{
	margin-top:70px;
	margin-bottom:70px;
}

.location_icon {
    float: left;
    margin-right: 15px;
}
.hoverin {
    display: block;
    transition: all ease 0.5s 0s;
}	
.hoverout {
    display: none;
    transition: all ease 0.5s 0s;
}
.location_address {
    padding-top: 10px;
}
.location_address p {
    font-size: 17px;
    color: #2e3438;
    letter-spacing: 0.5px;
    line-height: 30px;
    font-weight: 600;
}
.location_address p a {
    font-size: 17px;
    color: #2e3438;
    letter-spacing: 0.5px;
    line-height: 30px;
    font-weight: 600;
}
.location_box:hover .hoverin {
    display: none;
    transition: all ease 0.5s 0s;
}
.location_box:hover .hoverout {
    display: block;
    transition: all ease 0.5s 0s;
}
.location_address p a:hover {
    text-decoration: none;
    color: #74d7a0;
    transition: all ease 0.5s 0s;
}
.contact{
	padding-top:70px;
	padding-bottom:70px;
}
input.contact_from::placeholder{
	color:#a6afb6;
}
input.contact_from {
    border: 1px solid #b7b7b7;
    height: 45px;
    width: 100%;
    padding: 0px 15px;
    border-radius: 60px;
    margin-bottom: 30px;
}
.contact_mes {
    border: 1px solid #b7b7b7;
    height: 150px;
    width: 100%;
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.contact_mes::placeholder{
	color:#a6afb6;
}
.submit_btn{
	background: rgba(116,215,161,1);
    background: -moz-linear-gradient(left, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(116,215,161,1)), color-stop(100%, rgba(79,208,195,1)));
    background: -webkit-linear-gradient(left, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
    background: -o-linear-gradient(left, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
    background: -ms-linear-gradient(left, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
    background: linear-gradient(to right, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74d7a1', endColorstr='#4fd0c3', GradientType=1 );
    color: #fff;
    padding: 13px 100px;
    border-radius: 70px;
    transition: all ease 0.5s 0s;
    text-transform: uppercase;
	border:none;
    box-shadow: 3px 4px 15px 0px rgba(98, 211, 177, 0.75);
}
.submit_btn:hover{
    background: #fff;
    text-decoration: none;
    color: #15a025;
    transition: all ease 0.5s 0s;
}
.submit_btn1 {
    text-align: center;
}
.contact_form{
	padding-bottom:80px;
}
.skill_con h3 {
    font-size: 25px;
    color: #585b5d;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 35px;
    margin-bottom: 15px;
    margin-top: 40px;
}
.skill_con p{
    font-size: 14px;
    color: #585b5d;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 25px;
    font-family: 'Poppins', sans-serif;
}
.skills {
    margin-top: 70px;
    margin-bottom: 70px;
}

.progress-bar {
  margin: 0 0 10px;
  overflow: hidden;
  padding-right: 24px; /* Separate bars from container */
}

.progress-title-holder {
  padding-bottom: 5px;
  position: relative;
  margin: 5px 0;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  color: #2e2e2e;  
}
.progress-title {
	z-index: 100;
    font-size: 18px;
    color: #465059;
	font-family: 'Poppins', sans-serif;
}
.progress-number-wrapper {
  width: 100%;
  z-index: 10;
}
.progress-number-mark {
  margin-bottom: 4px;
  border-radius: 3px;
  background-color: #73d7a0;
  padding: 0 10px;
  position: absolute;
  bottom: 0;   
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%); 
} 
.progress-number-wrapper,
.progress-number-mark {
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  line-height: 29px;
  height: 30px;
  letter-spacing: 0px;
  font-weight: 600;
  font-style: normal;
  text-transform: none;
  color: #ffffff;
}
.down-arrow {
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #73d7a0;
  position: absolute;
  left: 50%;
  top: 100%;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);  
}
.progress-content-outter {
  height: 10px;
  border-radius:50px;
  background-color: #e7e7e7;
}
.progress-content {
  height: 10px;
  border-radius:50px;	
  background: rgba(116,215,161,1);
	background: -moz-linear-gradient(left, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(116,215,161,1)), color-stop(100%, rgba(79,208,195,1)));
	background: -webkit-linear-gradient(left, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
	background: -o-linear-gradient(left, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
	background: -ms-linear-gradient(left, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
	background: linear-gradient(to right, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74d7a1', endColorstr='#4fd0c3', GradientType=1 );
  width: 0%; /* Initial value */
}
.progress-bar1 {
    margin-bottom: 30px;
}
.progress_box {
    margin-right: 30px;
}
.services_box .yoga_con h3{
	color:#585b5d;
}
.services_box .yoga_con p{
	color:#585b5d;
}
.services_box {
    background-image: url(../img/services_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom -300%;
	margin-top: 70px;
	margin-bottom:30px;
}
/*blog*/
.blog_img_inner img{
	border-radius:5px;
}
.blog_con_inner h4{
	font-size:14px;
	color:#a8aed0;
	text-transform:uppercase;
	letter-spacing:0.5px;
	font-family: 'Poppins', sans-serif;
}
.blog_con_inner h3{
	font-size:24px;
	color:#484a4c;
	font-weight:600;
	font-family: 'Poppins', sans-serif;
}
.blog_con_inner .date_con {
    padding: 0;
    margin-top: 20px;
}
.blog_con_inner .time_box i {
    color: #6ec061;
    font-size: 16px;
}
.blog_con_inner p {
    font-size: 14px;
    color: #585b5d;
    line-height: 25px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
}
.blog_con_inner .read_more_blog{
	text-align:left;
}
.blog_page_box {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 30px;
    padding-top: 30px;
}
.blog_title h3 {
    font-size: 28px;
    color: #484a4c;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Signika', sans-serif;
    margin-bottom: -10px;
}
#searchbox svg {
    position: absolute;
    height: 30px;
    fill: #B2AFAF;
    right: 10%;
    margin-top: 10px;
}
#searchbox input {
    line-height: 80px;
    font-size: 15px;
    max-height: 50px;
    border: 0;
    font-weight: 300;
    color: #acb0b4;
    background: #fafafc;
    border: 1px solid #ebebeb;
    font-weight: 500;
    width: 100%;
    padding-left: 20px;
	border-radius:50px;
}
.search_box{
	margin-bottom:30px;
}
#searchbox input::placeholder{
	color: #acb0b4;
}
#searchbox {
    margin-top: 15px;
}
.post_img img{
	border-radius:5px;
}
.post_con h3{
	font-size:18px;
	color:#484a4c;	 
	letter-spacing:0.5px;
	font-family: 'Poppins', sans-serif;
}
.post_con p a{
	font-size:14px;
	color:#36a878;
	font-weight:500;
	letter-spacing:0.5px;	
}
.post_con p a:hover{
	text-decoration:none;
}
.post_con {
    padding-top: 14px;
}
.post_img {
    float: left;
    margin-right: 15px;
}
.post_item {
    display: inline-block;
    width: 100%;
}
.post_item {
    margin-top: 20px;
}
.popular_box{
	margin-bottom:30px;
}
.wi-cat ul{
	margin-left:20px;
}
.wi-cat ul li {
    display: table;
    width: 100%;
}
.wi-cat ul li:before {
    content: "\f111";
    font-family: "fontAwesome";
    position: absolute;
    left: 15px;
    color: #d9dcd4;
    font-size: 7px;
    padding-top: 6px;
}
.wi-cat ul li a {
    color: #484a4c;
    display: block;
    margin-bottom: 12px;
	font-size:14px;
	font-family: 'Poppins', sans-serif;
    padding-left: 0px;
}
.wi-cat ul li span:first-child {
    text-align: left;
}
.wi-cat ul li span {
    display: table-cell;
    width: 100%;
}
.wi-cat ul li span:last-child {
    text-align: right;
}
.sidebar-item.category ul li {
    display: block;
}
.sidebar-info ul li a {
    font-size: 14px;
    color: #484a4c;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    display: inline-block;
    padding-top: 10px;
}
.sidebar-item.category ul li a {
    display: inline-block;
    padding: 10px 0;
    text-transform: capitalize;
    color: #777777;
    font-size: 14px;
    width: 100%;
}
.categories_left{
    float: right;
    background-color: #fff;
    width: 28px;
    text-align: center;
    height: 28px;
    border-radius: 30px;
    line-height: 27px;
    position: relative;
    top: -10px;
    transition: all ease 0.5s 0s;
	line-height:30px;
}
.sidebar-info li {
    list-style: none;
}
.sidebar-info li:hover .categories_left{
	background: rgba(156,212,59,1);
    background: -moz-linear-gradient(left, rgba(156,212,59,1) 0%, rgba(79,208,195,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(156,212,59,1)), color-stop(100%, rgba(79,208,195,1)));
    background: -webkit-linear-gradient(left, rgba(156,212,59,1) 0%, rgba(79,208,195,1) 100%);
    background: -o-linear-gradient(left, rgba(156,212,59,1) 0%, rgba(79,208,195,1) 100%);
    background: -ms-linear-gradient(left, rgba(156,212,59,1) 0%, rgba(79,208,195,1) 100%);
    background: linear-gradient(to right, rgba(156,212,59,1) 0%, rgba(79,208,195,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cd43b', endColorstr='#4fd0c3', GradientType=1 );
	color:#fff;
}
.sidebar-info li a:hover{
	text-decoration:none;
}
.sidebar-info {
    margin-left: 15px;
}
.sidebar-info ul li:before {
    content: "\f111";
    font-family: "fontAwesome";
    position: absolute;
    left: 15px;
    color: #d9dcd4;
    font-size: 7px;
    padding-top: 15px;
}
.categories_box {
    margin-bottom: 20px;
}
.tags ul li{
	list-style:none;
	display:inline-block;
}
.tags ul li a {
    color: #b1b1b1;
    font-size: 14px;
    border: 1px solid #b1b1b1;
    text-transform: uppercase;
    padding: 6px 10px;
    border-radius: 30px;
    line-height: 45px;
    margin-right: 10px;
	transition:all ease 0.5s 0s;
}
.tags ul li a:hover{
	text-decoration:none;
	color:#fff;
	cursor:pointer;
	transition:all ease 0.5s 0s;
	border:1px solid none;
	background: rgba(156,212,59,1);
    background: -moz-linear-gradient(left, rgba(156,212,59,1) 0%, rgba(79,208,195,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(156,212,59,1)), color-stop(100%, rgba(79,208,195,1)));
    background: -webkit-linear-gradient(left, rgba(156,212,59,1) 0%, rgba(79,208,195,1) 100%);
    background: -o-linear-gradient(left, rgba(156,212,59,1) 0%, rgba(79,208,195,1) 100%);
    background: -ms-linear-gradient(left, rgba(156,212,59,1) 0%, rgba(79,208,195,1) 100%);
    background: linear-gradient(to right, rgba(156,212,59,1) 0%, rgba(79,208,195,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cd43b', endColorstr='#4fd0c3', GradientType=1 );
}
.single_blog h4{
	font-size: 14px;
    color: #a8aed0;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-family: 'Poppins', sans-serif;
}
.single_blog h3 {
    font-size: 24px;
    color: #484a4c;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.single_blog .date_con{
	padding:0;
	margin-top:20px;
}
.single_img img{
	border-radius:5px;
	margin-top:20px;
	margin-bottom:30px;
}
.single_blog p i{
	font-size:14px;
	color:#9da2a8;
	letter-spacing:0.5px;
	font-family: 'Poppins', sans-serif;
	line-height:25px;
}
.single_blog p{
	font-size:14px;
	color:#585b5d;
	line-height:26px;
	letter-spacing:0.5px;
	font-family: 'Poppins', sans-serif;
}
.single_blog h3{
	font-size:24px;
	color:#484a4c;
	font-weight:600;
	font-family: 'Poppins', sans-serif;
	letter-spacing:0.5px;
	margin-top:20px;
	margin-bottom:15px;
}
.blog_video_img img{
	border-radius:5px;
}
.blog_video {
    text-align: center;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
} 
.blog_video_icon {
    position: absolute;
    top: 34%;
    width: 100%;
}
.blog_video_img p {
    font-size: 14px;
    color: #9b9fa3;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    margin-top: 5px;
}
.single_blog .bottom-box {
    margin-top: 35px;
}
.single_blog .share li {
    display: inline;
    list-style: none;
}
.single_blog .content-box .content_blog span {
    color: #222222;
    font-size: 13px;
}
.single_blog .share li a i, .single_blog .share li span {
    display: inline-block;
    color: #b6b9bb;
    font-size: 16px;
    margin-right: 10px;
    width: auto;
    opacity: 1;
}
.pull-left ul li {
    display: inline-block;
    margin-right: 10px;
}
.pull-left ul li a{
	font-size:14px;
	color:#696c6f;
	transition:all ease 0.5s 0s;
	letter-spacing:0.5px;
	 font-family: 'Poppins', sans-serif;
}
.pull-left ul li a:hover{
	color:#36a878;
	transition:all ease 0.5s 0s;
	text-decoration:none;
}
.single_blog {
    border-bottom: 1px solid #dedede;
    padding-bottom: 10px;
}
.comments_box{
	margin-top:40px;
}
.comments_box_img img{
	border-radius:50px;
}
.comments_box_con h4 {
    font-size: 18px;
    color: #484a4c;
    letter-spacing: 0.5px;
    font-family: 'Poppins', sans-serif;
    margin-right: 15px;
	float:left;
}
.comments_box_con h5 {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #9da2a8;
    padding-top: 4px;
}
.com_con {
    display: inline-block;
    width: 100%;
}
.comments_box_con p{
	font-size:14px;
	color:#585b5d;
	letter-spacing:0.5px;
	line-height:25px;
	font-family: 'Poppins', sans-serif;
}
.comments_box_con p a{
	font-size:14px;
	color:#d7d7d7;
	letter-spacing:0.5px;
	text-transform:uppercase;
	transition:all ease 0.5s 0s;
	font-family: 'Poppins', sans-serif;
}
.comments_box_con p a:hover{
	color:#31bd71;
	text-decoration:none;
	transition:all ease 0.5s 0s;
}
.comments_box_con {
    width: 83%;
    float: left;
}
.comments_box_img {
    width: 17%;
    float: left;
}
.comments_box_1 {
    display: inline-block;
    border-bottom: 1px solid #eaebe7;
    padding-top: 20px;
}
.comments_box .blog_title{
	margin-bottom:10px;
}
.comments_from .blog_title {
    margin-top: 50px;
    margin-bottom: 30px;
}

.comments_from .submit_btn {
    padding: 13px 30px;
}
.comments_from .submit_btn1 {
    text-align: left;
}
.desktop_view{
	display:block;
}
.phone_view{
	display:none;
}



.coming_con h2{
	font-family: 'Signika', sans-serif;
    font-size: 65px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 3px 4px 15px rgba(96, 96, 96, 0.4);
}
.coming_con h3{
	font-size:22px;
	color:#fff;
	font-weight:500;
	text-transform:uppercase;
	text-align:center;
	font-family: 'Poppins', sans-serif;
}
.smalltext{
	font-family: 'Poppins', sans-serif;
	font-weight:500;
	font-size:22px;
	color:#fff;
	text-transform:uppercase;
}
.com_box {
    height: 120px;
    width: 120px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}
.main_box {
    width: 120px;
    text-align: center;
    float: left;
    margin: 20px;
}
.number_size{
	font-size:55px;
	color:#fff;
	line-height:125px;
	font-family: 'Poppins', sans-serif;
	text-align:center;
}
#clockdiv{
	text-align:center;	
}
#clockdiv {
    margin-left: 33%;
    margin-right: 33%;
}
.card-box-input.comeing_news {
    width: 60%;
}
.card-box-input.comeing_news {
    width: 50%;
    position: relative;
    margin: auto;
    display: inline-block;
}
.card-box-input.comeing_news {
    width: 50%;
    position: relative;
    margin: auto;
    display: inline-block;
    margin-top: 20px;
}
.input-img {
    position: absolute;
    top: 0%;
    left: 86%;
    line-height: 44px;
}
.coming_icon ul{
	text-align:center;
}
.coming_icon ul li {
    list-style: none;
    display: inline-block;
    margin: 5px;
    height: 32px;
    width: 32px;
    text-align: center;
    border-radius: 50px;
    line-height: 29px;
}
.coming_icon ul li a{
	color:#fff;
}
.coming_icon ul li:hover{
	background-color:#fff;
}
.coming_icon ul li:hover a{
	color:#93cd57;
}
.coming_icon {
    margin-top: 30px;
}
.coming_con_1 {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
}
.coming_1_con {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.errow_con h2{
	font-size:45px;
	color:#fff;
	font-weight:500;
	text-transform:uppercase;
	font-family: 'Poppins', sans-serif;
}

a.btn_errow {
    background-color: #fff;
    color: #15a025;
    padding: 13px 24px;
    border-radius: 70px;
    transition: all ease 0.5s 0s;
    text-transform: uppercase;
    box-shadow: 3px 4px 15px 0px rgba(79, 209, 106, 0.75);
}
a.btn_errow:hover {
    text-decoration: none;
    color: #fff;
    background-color: #15a025;
    transition: all ease 0.5s 0s;
}
.errow_btn{
	margin-top:40px;
}
.coming_bg.errow_bg{
    height: 100vh !important;
}
.errow_bg .coming_con h2 {
    font-size: 26px;
    margin-top: 40px;
}
.coming_bg.errow_bg .coming_con_1{
	padding-top: 0px;
}


.slider_text h1 {
    font-size: 199px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.1;
	color:#fff;
    line-height: 170px;
	font-family:'Signika', sans-serif;
}
.slider_text {
    left: 10%;
    right: 10%;
    top: 22%;
    padding: 122px;
    z-index: 9999;
}
.icon_box {
    height: 75px;
    width: 75px;
    background-color: #fff;
	box-shadow: 3px 4px 15px 0px rgba(0, 0, 0, 0.25); 
    border-radius: 60px;
	text-align:center;
}
.slider_text1 h1 {
    font-size: 199px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.1;
	color:#fff;
    line-height: 170px;
	text-align:center;
	font-family:'Signika', sans-serif;
}
.slider_text1 {
    position: absolute;
    left: 10%;
    text-align: center;
    right: 10%;
    top: 30%;
}
li.last_menu {
    border: 1.5px solid #fff !important;
}
.yoga_img_box{
    display: block;
    height: 100%;
}

#demo .carousel-item::before{
	content:'';
	position: absolute;
	top: 0;
	display: block;
	background: rgba(156,212,59,1);
	background: -moz-linear-gradient(left, rgba(156,212,59,0.9) 0%, rgba(54,168,121,0.9) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(156,212,59,0.9)), color-stop(100%, rgba(54,168,121,0.9)));
	background: -webkit-linear-gradient(left, rgba(156,212,59,0.9) 0%, rgba(54,168,121,0.9) 100%);
	background: -o-linear-gradient(left, rgba(156,212,59,0.9) 0%, rgba(54,168,121,0.9) 100%);
	background: -ms-linear-gradient(left, rgba(156,212,59,0.9) 0%, rgba(54,168,121,0.9) 100%);
	background: linear-gradient(to right, rgba(156,212,59,0.9) 0%, rgba(54,168,121,0.9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cd43b', endColorstr='#36a879', GradientType=1 );
	width: 100%;
	height: 100%;
	padding: 30px;
	border-radius: 0px;
	clip-path: polygon(100% 0, 100% 100%, 0 91%, 0 0);
}
#demo1 .carousel-item::before{
	content:'';
    position: absolute;
    top: 0;
    background: rgba(156,212,59,1);
    background: -moz-linear-gradient(left, rgba(156,212,59,0.9) 0%, rgba(54,168,121,0.9) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(156,212,59,0.9)), color-stop(100%, rgba(54,168,121,0.9)));
    background: -webkit-linear-gradient(left, rgba(156,212,59,0.9) 0%, rgba(54,168,121,0.9) 100%);
    background: -o-linear-gradient(left, rgba(156,212,59,0.9) 0%, rgba(54,168,121,0.9) 100%);
    background: -ms-linear-gradient(left, rgba(156,212,59,0.9) 0%, rgba(54,168,121,0.9) 100%);
    background: linear-gradient(to right, rgba(156,212,59,0.9) 0%, rgba(54,168,121,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cd43b', endColorstr='#36a879', GradientType=1 );
    width: 100%;
    height: 100%;
    padding: 30px;
    border-radius: 0px;
	clip-path: polygon(100% 0, 100% 100%, 0 86%, 0 0);
}

.logo {
    font-size: 48px;
    color: white;
    font-family: monospace;
}
.about_img_2{
    width: 100%;
    float: left;
    height: -10%;
    height: 100%;
    padding-top: -31px;
    position:relative;
    margin-left: -74px;
    margin-top: -54px;
}
.about_img1{
    display: block;
    width: 48%;
    float: left;
    height: 37%;
    padding-top: 29px;
    position: relative;
    margin-left: 15px;
}

