.menu{
    font-family: 'Be Vietnam', sans-serif;
}
select {
    margin-bottom: 1em;
    padding: .25em;
    border: 0;
    border-bottom: 2px solid currentcolor;
    font-weight: bold;
    letter-spacing: .15em;
    border-radius: 0;
    width: 200px;
    margin-left: 50px
  }
  select:focus, select:active {
    outline: 0;
    border-bottom-color:green;
  }
  .mon{
      text-align: center;
      border: 1px solid green;
        border-radius: 5px;
        margin-left: 20px;
        
  }
/* input */
input{
    display: block;
    border:none; 
    border-bottom: 2px solid #00BCD4;
    margin-top: 6px;
    margin-bottom: 10px;
    outline-style: none;
    outline: none;
    overflow:hidden;
}

 

input:hover{
  
     border-bottom: 2px solid yellowgreen;
     transition-property: border-bottom;
     transition-duration: 1s;

   /* border:  linear-gradient(to right, #fc00ff, #00dbde); */
   /* transition: margin-left 2s, border 1s;
   -moz-transition: margin-left 2s, border 1s;
   -webkit-transition: margin-left 2s, border 1s; */ 
  /* transition: .3s; */

}
.form {
    border: 1px solid #80808000;
    grid-column: 6/9;
    grid-row: 3;
    height: 300px;
    width: 292px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 15px;
    box-shadow: 0px 0px 14px 0px grey;
    background-color: white;
}
.cheDo{
    font-size: 20px;
}
.showMenu{
    margin-top:50px;
    margin-bottom: 50px; 
}

#menu {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 50px;
}

#menu td, #menu th {
  border: 1px solid #ddd;
  padding: 8px;
}

#menu tr:nth-child(even){background-color: #f2f2f2;}

#menu tr:hover {background-color: #ddd;}

#menu th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
#menu img {
  height: 100px;
  width: auto;
}