

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

.form_wrapper {
  background: #fff;
  width: 550px;
  height: 316px;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px;
  margin: 10% auto 0;
  position: relative;
  z-index: 3000;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.form_wrapper h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0;
}

.form_wrapper .title_container {
  text-align: center;
  padding-bottom: 15px;
}

.form_wrapper h3 {
  font-size: 1.1em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
}

.form_wrapper .row {
  margin: 10px -15px;
}

.form_wrapper .row > div {
  display: inline-block;
  /* padding: 0 15px; */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form_wrapper .col_half {
  display: inline-block;
  width: 100%;
}
.form_wrapper .fa-arrow-left{
  border-radius: 50%;
  color: #333;

}
.form_wrapper .fa-arrow-left:hover{
  -webkit-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  
}


.form_wrapper .input_field {
  height: 35px;
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
}

.form_wrapper .input_field > span {
  position: absolute;
  left: 0;
  top: 0;
  color: #333;
  height: 100%;
  border-right: 1px solid #ccc;
  text-align: center;
  width: 30px;
}

.form_wrapper .input_field > span > i {
  padding-top: 10px;
}

.form_wrapper .textarea_field > span > i {
  padding-top: 10px;
}



.form_wrapper input[type="text"]:focus {
  -webkit-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  border: 1px solid #f5ba1a;
  
}

.form_wrapper input[type="email"] {
  width: 530px;
  padding: 8px 10px 9px 35px;
  height: 40px;
  border: 4px solid rgb(121, 139, 121);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  -webkit-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  border-radius: 10px ;
  -moz-box-shadow: 3px -17px 35px #30d1b1;
  -webkit-box-shadow: 3px -17px 35px #30d1b1;
  box-shadow: 3px -17px 35px #30d1b1;
}

.form_wrapper input[type="email"]:focus {
  -webkit-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  border: 1px solid #f5ba1a;
  
}


.form_wrapper input[type="password"] {
  width: 530px;
  padding: 8px 10px 9px 35px;
  height: 40px;
  border: 4px solid rgb(121, 139, 121);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  -webkit-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  border-radius: 10px ;
  -moz-box-shadow: 3px -17px 35px #30d1b1;
-webkit-box-shadow: 3px -17px 35px #30d1b1;
box-shadow: 3px -17px 35px #30d1b1;
}

.form_wrapper input[type="password"]:focus {
  -webkit-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  border: 1px solid #f5ba1a;
}

.form_wrapper #button {
  background: #f5ba1a;
  height: 35px;
  line-height: 35px;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.1em;
  margin-bottom: 10px;
  -webkit-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
}

.form_wrapper #button:hover {
  background: #e1a70a;
  
}

.form_wrapper #button:focus {
  background: #e1a70a;
}

.form_wrapper input[type="checkbox"] {
  margin-right: 2px;
}


@media (max-width: 600px) {
  .form_wrapper .col_half {
    width: 100%;
    float: none;
  }
  .bottom_row .col_half {
    width: 50%;
    float: left;
  }
  .form_container .row .col_half.last {
    border-left: none;
  }
  .remember_me {
    padding-bottom: 20px;
  }
}
.div-footer-img{
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 1;
}
.div-footer-img .footer-img{
  height: 250px;
  width: 750px;
}
#back {
  text-decoration: none;
  color: red;  
}
/*# sourceMappingURL=login.css.map */