/* ----------------------------------------------------------------------------------------
Template: GYMFIT
 -----------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

MAIN PAGES

1. BODY
2. HEADER
3. SLIDER
4. ABOUT 
5. OUR COURSES
6. TRAINERS
7. SCHEDULE
8. EXPLORE(VIDEO)
9. BLOG
10. NEWSLETTER
11. FOOTER

INNER PAGES
12.ABOUT PAGE
13.OUR COURSES PAGE
14.TRAINERS PAGE
15.BLOG PAGE
19.BLOG DETAILS PAGE
20.CONTACT US PAGE
21.COMING SOON PAGE
22.ERROR PAGE
23.LOADER
-------------------------------------------------------------------*/

/* 
---------------------------------------------
body
--------------------------------------------- 
*/
* {
	outline: none;
	-webkit-box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
/* 
---------------------------------------------
navigation bar
--------------------------------------------- 
*/

header {
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 999;
	padding-top: 20px;
}
header.shrink {
	width: 100%;
	padding: 5px 0;
	background: #2a5f50;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	z-index: 9999;
	top: 0;
	position: fixed;
}
.bg-light {
	background-color: transparent !important;
	padding-top: 10px;
	padding: 0;
	margin: 0;
}
.navbar-light .navbar-nav .nav-link {
	color: #ffffff;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: #ffffff;
}
a.nav-btn {
	width: 170px;
	background-color: transparent;
	border-radius: 25px;
	padding: 11px 30px;
	border-top: 1px solid #9258f9;
	border-left: 1px solid #c253db;
	border-bottom: 1px solid #dc58c0;
	border-right: 1px solid #e8799b;
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	outline: none;
	transition: all ease 0.5s 0s;
}
li.btn-nav {
	margin: 7px 0 0 0;
}
a.nav-btn:hover {
	background-image: linear-gradient(to right, #9258f9, #c253db, #dc58c0, #e767aa, #e8799b);
	box-shadow: 0 0 15px rgba(0 , 0, 0, 0.5);
	border: 1px solid transparent;
	transition: all ease 0.5s 0s;
}
li.nav-item {
	padding: 0 12px;
}
li.nav-item a {
	color: #ffffff;
	text-decoration: none;
}
.navbar-light .navbar-nav .nav-link:active, .navbar-light .navbar-nav .nav-link:hover {
	color: #ffffff;
}
.navbar-light .navbar-nav .nav-link:focus {
	color: rgba(255, 255, 255);
}
.collapse.show {
	display: block;
	background-color: #1f1815;
	padding: 0;
}
.navbar-toggler.collapsed .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}
.navbar-toggler .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 10% 10%;
	-ms-transform-origin: 10% 10%;
	transform-origin: 10% 10%;
}
.navbar-toggler .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 20% 10%;
	-ms-transform-origin: 20% 10%;
	transform-origin: 20% 10%;
}
.navbar-toggler .icon-bar {
	width: 31px;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.navbar-toggler .icon-bar {
	display: block;
	width: 32px;
	height: 3px;
	border-radius: 1px;
}
.navbar-toggler .icon-bar {
	background-color: #ffffff;
}
.navbar-toggler.collapsed .icon-bar:nth-of-type(2) {
	opacity: 1;
	filter: alpha(opacity=100);
}
.navbar-toggler .icon-bar:nth-of-type(2) {
	opacity: 0;
	filter: alpha(opacity=0);
}
.navbar-toggler.collapsed .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}
.navbar-toggler .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 10% 90%;
	-ms-transform-origin: 10% 90%;
	transform-origin: 10% 90%;
}
.inner-page .navbar-toggler .icon-bar {
	background-color: #000000;
}
.inner-page .collapse.show {
	display: block;
	background-color: #ffffff;
	padding: 30px 0;
}
.navbar-light .navbar-toggler {
	color: rgba(0, 0, 0);
	border-color: transparent;
}
li.nav-item.btn:hover {
	background-color: transparent;
	box-shadow: none;
}
.slider_img .img-fluid {
	max-width: 150%;
}
.slider_img {
	left: -30%;
	position: relative;
	top: 19%;
}
.carousel-caption h3 {
	font-family: 'Signika', sans-serif;
	font-size: 74px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 3px 4px 15px rgba(79, 209, 106, 0.56); 
}
.carousel-caption p {
	font-size: 20px;
	color: #fff;
	font-family: 'Poppins', sans-serif;
}
.carousel-caption1s {
	position: absolute;
	right: 0;
	bottom: 25%;
	left: 0%;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #444444;
	text-align: left !important;
}
.slider_btn {
	margin-top: 40px;
}
a.sliderbtn {
	background-color: #fff;
	color: #15a025;
	padding: 13px 24px;
	border-radius: 70px;
	transition: all ease 0.5s 0s;
	text-transform: uppercase;
	box-shadow: 3px 4px 15px 0px rgba(79, 209, 106, 0.75);
}
a.sliderbtn:hover {
	text-decoration: none;
	color: #fff;
	background-color: #15a025;
	transition: all ease 0.5s 0s;
}
.title_box h2 {
	font-size: 40px;
	color: #484a4c;
	font-weight: bold;
	font-family: 'Signika', sans-serif;
	text-transform: uppercase;
	text-align: center;
}
.about_us {
	margin-top: 100px;
	margin-bottom: 100px;
}
.title_box {
	text-align: center;
	margin-bottom: 45px;
}
.about_con h3 {
	font-size: 25px;
	color: #585b5d;
	letter-spacing: 0.5px;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
	line-height: 35px;
	margin-bottom: 25px;
}
.about_con p {
	font-size: 14px;
	color: #585b5d;
	font-weight: 400;
	letter-spacing: 0.5px;
	line-height: 25px;
	font-family: 'Poppins', sans-serif;
}
.about_btn {
	margin-top: 40px;
}
.aboutbtn {
	background: rgba(116,215,161,1);
	background: -moz-linear-gradient(left, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(116,215,161,1)), color-stop(100%, rgba(79,208,195,1)));
	background: -webkit-linear-gradient(left, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
	background: -o-linear-gradient(left, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
	background: -ms-linear-gradient(left, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
	background: linear-gradient(to right, rgba(116,215,161,1) 0%, rgba(79,208,195,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74d7a1', endColorstr='#4fd0c3', GradientType=1 );
	color: #fff;
	padding: 13px 28px;
	border-radius: 70px;
	transition: all ease 0.5s 0s;
	text-transform: uppercase;
	box-shadow: 3px 4px 15px 0px rgba(98, 211, 177, 0.75);
}
.aboutbtn:hover {
	background: #fff;
	text-decoration: none;
	color: #15a025;
	transition: all ease 0.5s 0s;
}
.about_img img {
	display: block;
	height: 309px;
	border-radius: 5px;
	box-shadow: 3px 4px 15px 0px rgba(0, 0, 0, 0.25);
}
.about_img {
	width: 48%;
	float: left;
	height: 100%;
	padding-top: 0px;
}
.about_img_1 {
	width: 48%;
	float: left;
	/* height: 10px; */
	padding-top: 29px;
	position:relative;
	margin-left: 15px;
	/* margin-bottom: 32px; */
}
.about_img_1 img {
	border-radius: 5px;
	box-shadow: 3px 4px 15px 0px rgba(0, 0, 0, 0.25);
}
.overlay {
	position: absolute;
	top: 0;
	background: rgba(156,212,59,1);
	background: -moz-linear-gradient(left, rgba(156,212,59,0.9) 0%, rgba(54,168,121,0.9) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(156,212,59,0.9)), color-stop(100%, rgba(54,168,121,0.9)));
	background: -webkit-linear-gradient(left, rgba(156,212,59,0.9) 0%, rgba(54,168,121,0.9) 100%);
	background: -o-linear-gradient(left, rgba(156,212,59,0.9) 0%, rgba(54,168,121,0.9) 100%);
	background: -ms-linear-gradient(left, rgba(156,212,59,0.9) 0%, rgba(54,168,121,0.9) 100%);
	background: linear-gradient(to right, rgba(156,212,59,0.9) 0%, rgba(54,168,121,0.9) 100%);
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cd43b', endColorstr='#36a879', GradientType=1 );
	margin-top: 30px;
	width: 100%;
	height: 92.2%;
	padding: 30px;
	border-radius:5px;
}
.overlay .headline {
	margin-bottom: 10px;
	margin-top: 20px;
}
.overlay .description {
	display: block;
	margin-bottom: 20px;
}
.headline {
	font-family: 'Signika', sans-serif;
	font-size: 43px;
	color: #fff;
	font-weight: bold;
}
.description {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #fff;
	letter-spacing: 0.5px;
	line-height: 25px;
}